.resumen-compra {
  color: black;
}

.resumen-lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.item-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.resume-thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

/* Botones de abajo */
.resumen-botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn-volver,
.btn-confirmar {
  flex: 1;
  margin: 0 0.3rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-volver {
  background-color: #ddd;
  color: #333;
}

.btn-volver:hover {
  background-color: #ccc;
}

.btn-confirmar {
  background-color: #007bff;
  color: white;
}

.btn-confirmar:hover {
  background-color: #0056b3;
}
